<md-content eui-aggregation="ejs.TermsAggregation(agg_name).field(field).size(size)">
  <md-toolbar style="min-height:30px">
    <h4 style="max-height:30px">{{field | camelCaseToHuman | titlecase}}</h4>
  </md-toolbar>
  <md-content>
    <md-input-container class="md-block">
      <md-checkbox class="md-primary" ng-repeat="bucket in aggResult.buckets"
                   eui-filter="ejs.TermsFilter(field, bucket.key)" ng-model="filter.enabled"
                   aria-label="Primary Checkbox">
        {{bucket.key}} ({{bucket.doc_count}})
      </md-checkbox>
    </md-input-container>
  </md-content>

    <md-divider></md-divider>

</md-content>
