<md-content class="md-sidenav-push-in-target" flex="" layout-padding="">


  <div class="dashboard-container overlay-10 padded-content-page md-sidenav-push-in-target" layout="column">
    <!--<div class="drag-container" layout="row" layout-xs="column" layout-margin dragula='"drag-analytics-container"'>
      <uicore-widget palette-background="deep-orange:500" content-layout="row"
                     content-layout-align="space-between center"
                     content-padding>
        <div>
          <md-icon class="font-size-5 opacity-50 margin-left-10" md-font-icon="fa fa-comments"></md-icon>
        </div>
        <div layout="column" layout-align="center end">
          <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" countupto="54"
             decimals="0"></p>
          <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0">Comments</p>
        </div>
      </uicore-widget>
      <uicore-widget palette-background="uicoreCyan:500" content-layout="row"
                     content-layout-align="space-between center"
                     content-padding>
        <div>
          <md-icon class="font-size-5 opacity-50 margin-left-10" md-font-icon="fa fa-twitter"></md-icon>
        </div>
        <div layout="column" layout-align="center end">
          <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" countupto="101"
             decimals="0"></p>
          <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Tweets</p>
        </div>
      </uicore-widget>
      <uicore-widget palette-background="indigo:500" content-layout="row" content-layout-align="space-between center"
                     content-padding>
        <div>
          <md-icon class="font-size-5 opacity-50 margin-left-10" md-font-icon="fa fa-facebook"></md-icon>
        </div>
        <div layout="column" layout-align="center end">
          <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="943" decimals="0"></p>
          <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Likes</p>
        </div>
      </uicore-widget>
      <uicore-widget palette-background="teal:500" content-layout="row" content-layout-align="space-between center"
                     content-padding>
        <div>
          <md-icon class="font-size-5 opacity-50 margin-left-10" md-font-icon="fa fa-eye"></md-icon>
        </div>
        <div layout="column" layout-align="center end">
          <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="944" decimals="0"></p>
          <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Reach</p>
        </div>
      </uicore-widget>
    </div>-->

    <div eui-index="'nps'" eui-highlight="ejs.Highlight(['_all']).preTags('<mark>').postTags('</mark>')"
         eui-enabled="true">


      <div md-theme="cyan" layout="column" layout-margin>
        <div flex>
          <eui-searchbox field="'_all'"></eui-searchbox>
        </div>

      </div>

      <md-input-container flex="20">
        <label>Page Size</label>
        <md-select ng-model="indexVM.pageSize">

          <md-option ng-repeat="item in [10, 20, 50, 100]">{{item}}</md-option>
        </md-select>
      </md-input-container>
      <span style="margin-left: 30px">Showing {{((indexVM.page-1) * indexVM.pageSize)+1}} to {{indexVM.page * indexVM.pageSize}} of {{indexVM.results.hits.total}} Records</span>


      <md-content layout="column">


        <md-sidenav flex class="md-sidenav-right md-whiteframe-z2" md-component-id="rightsidebar">
          <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Filters</h1>
          </md-toolbar>
          <md-content class="md-padding">
            <p>This is the right sidebar</p>
          </md-content>
        </md-sidenav>


        <md-toolbar layout="row" class="md-toolbar-tools" md-theme="cyan">

          <h3>Results</h3>
          <span flex></span>
          <div layout-align="center center" class="paging disable-large" layout="row" paging
               page="indexVM.page"
               page-size="indexVM.pageSize"
               adjacent="1"
               total="indexVM.results.hits.total>9000?9000:indexVM.results.hits.total" scroll-top="true"
               hide-if-empty="true"
               show-prev-next="true"
               show-first-last="true">
          </div>


          <span flex></span>
          <md-button class="md-icon-button toolbar-button disable-small"
                     ng-click="vm.openSidebar('rightsidebar')"
                     aria-label="search filters">
            <md-icon md-font-icon="fa fa-search"></md-icon>
          </md-button>


        </md-toolbar>


        <md-content layout="row" layout-align="center top">

          <div flex>
            <md-list>
              <md-list-item class="md-3-line" ng-repeat="item in indexVM.results.hits.hits"
                            ng-click="vm.showDetailsDialog($event,item)" layout-wrap>
                <img ng-src="{{::item._source.domain}}" class="md-avatar" alt="{{::item._source.customerAccountName}}"/>
                <div class="md-list-item-text">
                  <h3>{{::item._source.customerAccountName}} <span style="font-size: 10px;">(Responded to NPS Survey on {{::item._source.surveyDate | date}})</span>
                  </h3>
                  <hr/>
                  <p ng-if="item.highlight" ng-bind-html="'....' + item.highlight._all[0]"></p>
                  <p ng-if="!item.highlight"> {{item._source.NPSComment}}</p>
                  <p ng-if="!item.highlight"> {{item._source.suggestionsToImprove}}></p>
                </div>

                <div>
                  <md-icon style="color: limegreen; font-size: 32px;" md-font-icon="fa fa-smile-o fa-6"
                           ng-show="item._source.rating > 8">
                    <md-tooltip>
                      {{item._source.rating}}
                    </md-tooltip>
                  </md-icon>
                  <md-icon style="color: red; font-size: 32px;" md-font-icon="fa fa-frown-o fa-6"
                           ng-show="item._source.rating < 6">
                    <md-tooltip>
                      {{item._source.rating}}
                    </md-tooltip>
                  </md-icon>
                  <md-icon style="color: orange; font-size: 32px;" md-font-icon="fa fa-meh-o"
                           ng-show="item._source.rating > 5 && item._source.rating < 9">
                    <md-tooltip>
                      {{item._source.rating}}
                    </md-tooltip>
                  </md-icon>
                </div>

              </md-list-item>


            </md-list>


          </div>


          <md-content layout="column" class="content-wrapper md-padding disable-large" flex="30" id="content">
            <div flex>
              <md-content>
                <eui-checklist field="'productFamily'" size="5"></eui-checklist>
                <eui-checklist field="'practiceArea'" size="5"></eui-checklist>
                <eui-checklist field="'rating'" size="10"></eui-checklist>
                <eui-checklist field="'decisionLevel'" size="5"></eui-checklist>
                <eui-checklist field="'continuedUse'" size="5"></eui-checklist>
                <eui-checklist field="'customerReference'" size="5"></eui-checklist>
              </md-content>
            </div>
          </md-content>


          <!--
                <ng-include ng-if="!item.highlight"
                            src="'app/Dashboards/analytics/response-details-table.tmpl.html'">
                </ng-include>-->


    </div>


  </div>
  </div>
</md-content>
