<div class="dashboard-container overlay-10 padded-content-page" layout="column">
  <div class="drag-container" layout="row" layout-xs="column" layout-margin dragula='"drag-analytics-container"'>
    <uicore-widget palette-background="deep-orange:500" content-layout="row" content-layout-align="space-between center"
                   content-padding>
      <div>
        <md-icon class="font-size-5 opacity-50 margin-left-10" md-font-icon="fa fa-comments"></md-icon>
      </div>
      <div layout="column" layout-align="center end">
        <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" countupto="54"
           decimals="0"></p>
        <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Comments</p>
      </div>
    </uicore-widget>
    <uicore-widget palette-background="uicoreCyan:500" content-layout="row" content-layout-align="space-between center"
                   content-padding>
      <div>
        <md-icon class="font-size-5 opacity-50 margin-left-10" md-font-icon="fa fa-twitter"></md-icon>
      </div>
      <div layout="column" layout-align="center end">
        <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" countupto="101"
           decimals="0"></p>
        <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Tweets</p>
      </div>
    </uicore-widget>
    <uicore-widget palette-background="indigo:500" content-layout="row" content-layout-align="space-between center"
                   content-padding>
      <div>
        <md-icon class="font-size-5 opacity-50 margin-left-10" md-font-icon="fa fa-facebook"></md-icon>
      </div>
      <div layout="column" layout-align="center end">
        <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="943" decimals="0"></p>
        <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Likes</p>
      </div>
    </uicore-widget>
    <uicore-widget palette-background="teal:500" content-layout="row" content-layout-align="space-between center"
                   content-padding>
      <div>
        <md-icon class="font-size-5 opacity-50 margin-left-10" md-font-icon="fa fa-eye"></md-icon>
      </div>
      <div layout="column" layout-align="center end">
        <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="944" decimals="0"></p>
        <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>Reach</p>
      </div>
    </uicore-widget>
  </div>


  <div eui-index="'nps'" eui-highlight="ejs.Highlight(['_all']).preTags('<mark>').postTags('</mark>')" eui-enabled="true">

    <div layout="column" layout-margin>
      <eui-searchbox field="'_all'"></eui-searchbox>
    </div>


    <div ng-repeat="item in indexVM.results.hits.hits">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{::item._source.customerAccountName}}</span>
            <span class="md-subhead">Responded to NPS Survey on {{::item._source.surveyDate | date}}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media">
              <img src="assets/images/dashboards/weather.jpg" alt="Card Image">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>

<!--          <div style="float:left;margin-right: 10px;padding-right:3px"  md-whiteframe="1">
            <md-button class="md-raised" class="md-primary md-default" aria-label="raised button">Billing Account:</md-button><span>{{::item._source.billingAccountName}}</span>
          </div>
          <div style="float:left;margin-right: 10px;padding-right:3px"  md-whiteframe="1">
            <md-button class="md-raised" class="md-primary md-default" aria-label="raised button">Desision Level:</md-button><span>{{::item._source.decisionLevel}}</span>
          </div>
          <div style="float:left;margin-right: 10px;padding-right:3px"  md-whiteframe="1">
            <md-button class="md-raised" class="md-primary md-default" aria-label="raised button">Product Family:</md-button><span>{{::item._source.productFamily}}</span>
          </div>
          <div style="float:left;margin-right: 10px;padding-right:3px"  md-whiteframe="1">
            <md-button class="md-raised" class="md-primary md-default" aria-label="raised button">Practice Area:</md-button><span>{{::item._source.practiceArea}}</span>
          </div>-->



          <span ng-if="item.highlight" ng-bind-html="'....' + item.highlight._all[0]"></span>
        </md-card-content>
<!--        <md-card-actions layout="row" layout-align="end center">
          <md-button>View Details</md-button>
          <md-button>Account 360</md-button>
        </md-card-actions>-->
      </md-card>
    </div>

    <!--      <md-list>
            <md-list-item class="md-3-line" ng-repeat="item in indexVM.results.hits.hits">
              <md-checkbox ng-model="item.selected"></md-checkbox>
              <div class="md-list-item-text">
                <h3>Customer:{{::item._source.customerAccountName}}</h3>
                <h4><strong>Billing Account:</strong> {{::item._source.billingAccountName}}</h4>
                <h4 ng-bind-html="item.highlight._all[0]"></h4>
                &lt;!&ndash;            <h4>{{::item.subject}}</h4>
                            <p>{{::item.content[0]}}</p>&ndash;&gt;
              </div>
            </md-list-item>
          </md-list>-->

  </div>


</div>
