<md-content layout="row" layout-wrap class="widget" style="min-height: 50px"
     esl-aggregation="ejs.TermsAggregation('surveyYear_prompt_aggr').field('surveyYear').size(10).order('_term','asc')">

  <md-toolbar style="min-height:30px">
    <h4 style="max-height:30px">Year</h4>
  </md-toolbar>

  <div ng-repeat="bucket in aggResult.buckets"
       esl-filter="ejs.TermsFilter('surveyYear', bucket.key)">
    <md-button style="min-width:40px" ng-if="!filter.enabled" class="md-primary" ng-click="filter.enabled=true;drilldown()"
               aria-label="select year">
      <a>{{bucket.key}}</a>
    </md-button>
    <md-button style="min-width:40px;text-transform: lowercase;" ng-if="filter.enabled" class="md-primary"
               ng-click="filter.enabled=false;drillup()"
               aria-label="undo year selection">
      <a>{{bucket.key}}</a> <span
      style="vertical-align: super;color: red;font-size: .83em ">x</span>
    </md-button>

  </div>


</md-content>
<esl-checklist more="false" field="'category'" size="5"></esl-checklist>
<esl-checklist more="true" field="'suggestionsToImprove'" size="20"></esl-checklist>
<esl-checklist field="'commentsTerms'" size="20"></esl-checklist>
<esl-checklist field="'salesRep'" size="8"></esl-checklist>
<esl-checklist field="'surveyYear'" size="8"></esl-checklist>
<esl-checklist field="'surveyMonth'" size="12"></esl-checklist>
<esl-checklist field="'productFamily'" size="5"></esl-checklist>
<esl-checklist field="'practiceArea'" size="5"></esl-checklist>
<esl-checklist field="'rating'" size="10"></esl-checklist>
<esl-checklist field="'decisionLevel'" size="5"></esl-checklist>
<esl-checklist field="'continuedUse'" size="5"></esl-checklist>
<esl-checklist field="'customerReference'" size="5"></esl-checklist>
